/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/compile
/depcomp
/INSTALL
/install-sh
/Makefile
/Makefile.in
/missing
Makefile
Makefile.in
/src/alsacap
*.o
/src/.deps
/man/alsacap.1
